# Copy nội dung này vào file .env.local trong thư mục SWP391/Frontend/
VITE_FIREBASE_API_KEY=AIzaSyBe9o0375J6R30GFZNy2aY3mABkgde1j-k
VITE_FIREBASE_AUTH_DOMAIN=swp391-3fa40.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=swp391-3fa40
VITE_FIREBASE_STORAGE_BUCKET=swp391-3fa40.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=307912613047
VITE_FIREBASE_APP_ID=1:307912613047:web:eb57fdd4f5cd3dec3a4132
VITE_FIREBASE_MEASUREMENT_ID=G-B568VV3JQF
VITE_API_BASE_URL=http://localhost:3979

